# Logs
logs
*.log


# Coverage directory used by tools like istanbul
coverage


# Directories:

db_template.json
elasticsearch-1.5.2
fonts
node_modules
package.json
products_dummydata.json
public/bower_components/angular-payments
public/img
public/img/logo.png
public/scripts
